body {
	background-color: #F0F8FF;
}
header { 
    height: 300px;
	width: 90%;
	margin-left: 5%;
}
header img {
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
}
nav {  
	font-variant: small-caps;
	background-color: #FFA500;
	padding-left: 20%;
}
nav a {
	text-decoration: none;
	color: #F0F8FF;
}
footer {
	width: 100%;
	background-color: #FFA500;
	padding-left: 2%;
}
footer img {
	float: right;
	width: 70%;
	height: 95%;
	padding-top: 2%;
}
footer a {
	color: #F0F8FF;
}
footer a:link {
	color: #20B2AA;
}
footer a:visited {
	color: #191970;
}
footer a:hover {
	color: #20B2AA;
}


ul {
	position: center;
	list-style: none;
}
li { 
	font-size: 150%;
}
a {
	text-decoration: none;
	font-size: 150%;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-size: 300%;
}
h2 {
	font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-size: 200%;
}
p {
	font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-size: 150%;
}
figure { 
	padding-top: 30px;
	text-align: center;
}
figcaption { 
	font-weight: bold;
	font-size: 1.5em; 
}
label { 
	font-size: 120%;
	padding-left: 5%;
}

#wrapper {
	width: 90%;
	margin-left: 5%;
	margin-top: 0;
	padding-bottom: 0;
}
#para1 { 
	width: 75%;
}
#para1 img {
	float: right;
	width: 45%;
	height: 290px;
	margin: 5px;
}
#formRight {
	width: 20%;
	float: right;
	background-color: #FFA500;
	padding-right: 5px;
	margin-left: 0;
	padding-top: 1%;
}
#formRight img {
	padding-left: 5%;
	padding-bottom: 2%;
	width: 90%;
	margin-top: 0;
}
#gallery { 
	width: 1000px; 
	margin-bottom: 300px;
}
#gallery ul { 
	width: 500px; 
	list-style-type: none;
	float: left;
}
#gallery li { 
	display: inline; 
	float: left;
	padding: 16px;
}
#gallery img { 
	border-style: none; 
}
#results {
	display: none;
}
#bendTest img {
	float: right;
	width: 30%;
}

.button {
	padding: 15px 32px;
	font-size: 16px;
}

@media only screen and (max-width: 1052px) {
	footer {
		padding-left: 25%;
	}
	footer img { 
		display: none;
	}
	
	#para1 {
		width: 70%;
	}
	#para1 img {
		height: 90%;
	}
	#formRight {
		width: 25%;
	}
	#bendTest img {
		display: none;
	}
}

@media only screen and (max-width: 900px) {
	nav {
		padding-left: 10%;
	}
	#wrapper {
		padding-left: 5px;
	}
	#para1 img { 
		display: none;
	}
}

@media only screen and (max-width: 780px) {
	nav {
		padding-left: 0;
	}
}